In [1]:
import pandas as pd
import numpy as np

In [3]:
%%sh
head ./data/data.csv

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850,United Kingdom
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850,United Kingdom
536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850,United Kingdom
536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850,United Kingdom

In [5]:
df = pd.read_csv('./data/data.csv', 
                 encoding='ISO-8859-1',
                 dtype={'CustomerID':str},
                 parse_dates=['InvoiceDate'])

In [25]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,1

In [83]:
df['year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month
df['Day'] = df['InvoiceDate'].dt.day

In [118]:
df_2011 = df.loc[df['year']==2011,
                 ['StockCode','Quantity','Month']]
#unit-price, Description

df_2011 = df_2011[df_2011.Quantity>0]
data_set = df_2011.groupby(by=['StockCode','Month']).sum().reset_index().pivot(
    index='StockCode',
    columns='Month').fillna(0)

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
estimator = KMeans(n_clusters=10)

estimator.fit(data_set) #scaler.fit_transform(data_set) #(data_set.T/data_set.sum(axis=1)).T
pd.Series(estimator.labels_).value_counts()

0    2831
4     675
7     171
8      89
3      50
5      10
6       5
9       2
1       1
2       1
dtype: int64

In [119]:
estimator.cluster_centers_

array([[3.39491705e+01, 2.24588775e+01, 2.96900812e+01, 2.27342040e+01,
        2.32686198e+01, 2.21193082e+01, 2.29929403e+01, 1.98436287e+01,
        2.65534769e+01, 3.42957995e+01, 3.77592658e+01, 1.95577127e+01],
       [7.42150000e+04, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        8.01000000e+02, 3.97000000e+02, 7.31000000e+02, 4.27000000e+02,
        3.46000000e+02, 2.50000000e+02, 6.59000000e+02, 2.07000000e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 8.09950000e+04],
       [8.05720000e+02, 8.89920000e+02, 1.42568000e+03, 9.69920000e+02,
        1.59832000e+03, 1.40074000e+03, 1.48882000e+03, 1.60514000e+03,
        1.56038000e+03, 1.34690000e+03, 1.56288000e+03, 3.86540000e+02],
       [1.22714710e+02, 1.32735513e+02, 1.54063893e+02, 1.37634473e+02,
        1.74631501e+02, 1.84392273e+02, 1.81277860e+02, 1.97647845e+02,
        2.84729569e+02, 2.88066865e+02, 3.16533432e+02, 9.44918276e+01],
       [1.39000000e+02, 9.43000000e+01, 1.96500000e+02, 1.50800000e+02,
        1.17800000e+02, 1.85500000e+02, 3.91600000e+02, 5.64400000e+02,
        1.54730000e+03, 2.37140000e+03, 5.52220000e+03, 1.02700000e+03],
       [2.99080000e+03, 2.44740000e+03, 3.56120000e+03, 4.42360000e+03,
        3.82020000e+03, 2.99600000e+03, 2.91060000e+03, 3.88120000e+03,
        3.37680000e+03, 4.02400000e+03, 4.65140000e+03, 1.01520000e+03],
       [4.86701754e+02, 4.11666667e+02, 5.81830409e+02, 4.55286550e+02,
        5.96859649e+02, 6.31064327e+02, 6.26415205e+02, 5.91192982e+02,
        7.75678363e+02, 6.82988304e+02, 7.80333333e+02, 2.22444444e+02],
       [3.43370787e+01, 3.37191011e+01, 4.27191011e+01, 3.70449438e+01,
        5.54943820e+01, 9.64943820e+01, 1.96044944e+02, 2.38943820e+02,
        6.77842697e+02, 1.09259551e+03, 1.49961798e+03, 3.55179775e+02],
       [9.12000000e+02, 1.33300000e+03, 1.40150000e+03, 9.34500000e+02,
        3.99000000e+03, 1.90400000e+03, 1.09700000e+03, 3.84400000e+03,
        2.43800000e+03, 6.12750000e+03, 1.37070000e+04, 5.26400000e+03]])

In [54]:
df[['StockCode','Description']].drop_duplicates().count()

StockCode      5752
Description    4792
dtype: int64

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,day,Month
84017,543358,DCGSSGIRL,GIRLS PARTY BAG,3,2011-02-07 14:04:00,3.29,NaN,United Kingdom,2011,2,7,2
112724,545897,DCGSSGIRL,GIRLS PARTY BAG,5,2011-03-07 17:22:00,3.29,NaN,United Kingdom,2011,3,7,3
116892,546306,DCGSSGIRL,GIRLS PARTY BAG,2,2011-03-10 16:16:00,3.29,NaN,United Kingdom,2011,3,10,3
128108,547249,DCGSSGIRL,GIRLS PARTY BAG,17,2011-03-22 09:27:00,3.29,NaN,United Kingdom,2011,3,22,3
128269,547250,DCGSSGIRL,GIRLS PARTY BAG,2,2011-03-22 09:30:00,3.29,NaN,United Kingdom,2011,3,22,3
150864,549524,DCGSSGIRL,GIRLS PARTY BAG,1,2011-04-08 15:42:00,3.29,NaN,United Kingdom,2011,4,8,4
176169,551997,DCGSSGIRL,GIRLS PARTY BAG,2,2011-05-05 15:47:00,3.29,NaN,United Kingdom,2011,5,5,5
178670,552234,DCGSSGIRL,GIRLS PARTY BAG,2,2011-05-06 16:01:00,3.29,NaN,United Kingdom,2011,5,6,5
278379,561209,DCGSSGIRL,GIRLS PARTY BAG,5,2011-07-25 16:57:00,1.25,NaN,United Kingdom,2011,7,25,7
297098,562933,DCGSSGIRL,GIRLS PARTY BAG,5,2011-08-10 16:51:00,3.29,NaN,United Kingdom,2011,8,10,8
318312,564825,DCGSSGIRL,GIRLS PARTY BAG,1,2011-08-30 12:26:00,3.29,NaN,United Kingdom,2011,8,30,8
408203,571931,DCGSSGIRL,GIRLS PARTY BAG,1,2011-10-19 16:59:00,3.29,NaN,United Kingdom,2011,10,19,10
474602,576840,DCGSSGIRL,GIRLS PARTY BAG,1,2011-11-16 15:23:00,3.29,NaN,United Kingdom,2011,11,16,11